
<section>
  <ul class="nav nav-pills row">
    <li ng-class="{ active:tab.isSet(1) }">
      <a class="text-center" href ng-click="tab.setTab(1)">
        <i class="icon ion-android-document"></i>
      Description
      </a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a class="text-center" href ng-click="tab.setTab(2)">
        <i class="icon ion-gear-b"></i>
        Specs
      </a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a class="text-center" href ng-click="tab.setTab(3)">
        <i class="icon ion-android-chat"></i>
        Reviews
      </a>
    </li>
  </ul>


  <!--  Description Tab's Content  -->
  <div ng-show="tab.isSet(1)" ng-include="'views/product-description.html'">
  </div>

  <!--  Spec Tab's Content  -->
  <div product-specs ng-show="tab.isSet(2)"></div>

  <!--  Review Tab's Content  -->
  <product-reviews ng-show="tab.isSet(3)"></product-reviews>

</section>